services:
  backend-groq:
    build: .
    container_name: chess-parser-backend
    ports:
      - "8001:8001"
    env_file:
      - .env
    volumes:
      - .:/app
    restart: unless-stopped
    command: uvicorn main:app --host 0.0.0.0 --port 8001 --reload
